In [61]:
import sqlite3
import datetime
import random
import time

In [40]:
connection =  sqlite3.Connection('myDatabase.db')

In [41]:
c = connection.cursor()

In [42]:
sql_code =  'create table produtos '\
'(id integer primary key autoincrement not null, '\
'nome varchar(100),'\
'quantidade integer,'\
'date datetime)'

In [43]:
sql_code

'create table produtos (id integer primary key autoincrement not null, nome varchar(100),quantidade integer,date datetime)'

In [44]:
c.execute(sql_code)

OperationalError: table produtos already exists

In [45]:
c.execute('SELECT * FROM produtos')

In [46]:
result = c.execute('SELECT * FROM produtos')

In [47]:
result

In [49]:
c.execute('SELECT * FROM produtos')

In [ ]:
c.execute("insert into produtos values (10,'sabao',20, '2016-11-10 13:20:37')")

In [50]:
for line in c.fetchall():
    print(line)

(10, 'sabao', 20, '2016-11-10 13:20:37')

In [51]:
def inserir_dados():
    new_datetime = datetime.datetime.now()
    new_qtd = 10
    new_product = 'arroz'
    for line in range(10):
        c.execute("insert into produtos values (line+1,?,?,?)", new_product, new_qtd, new_datetime)

In [55]:
def create_table_new():
    c.execute('CREATE TABLE IF NOT EXISTS product (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
    'prod_name TEXT, valor REAL)')

In [56]:
def data_insert():
    c.execute("INSERT INTO product VALUES (10,'2016-05--02 14:32:11', 'Teclado', 90)")
    connection.commit()
    c.close()
    connection.close()

In [57]:
create_table_new()

In [58]:
data_insert()

## Fazendoa Select nas informações da Tabela

#### devemos primeiro ter uma noção de VBanco de dados para executar essas tarefas, sabendo como podemos criar um db por completo

In [60]:
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO product (date, prod_name, valor) VALUES (?, ?, ?)",( new_date, new_prod_name, new_valor))
    connection.commit()

In [ ]:
for i in range(10):
    data_insert_var()
    time.sleep(1)