## Acessando Banco de Dados com Python

In [3]:
# Importando o módulo de acesso ao SQLite

import sqlite3

In [4]:
#Cria uma conexão com o banco de dados.
#Se o banco de dados não exixtir, ele é criado neste momento.

con = sqlite3.connect('ecola.db')

In [5]:
type(con)

sqlite3.Connection

In [6]:
#Criando um cursor
# Um cursor permite percorrer todos os registros em um conjunto de dados 

cur = con.cursor()

In [7]:
type(cur)

sqlite3.Cursor

In [16]:
#Cria uma instrução sql
cur.execute('drop table cursos')
sql_create = ' create table cursos if not exists'\
'(id integer primary key, '\
'titulo varchar(100),'\
'ccategoria varchar(140))'

In [17]:
#Executando a instrução sql no cursor 
cur.execute(sql_create)

OperationalError: near "if": syntax error

In [11]:
#Criando outra sentença sql para inserir registros 

sql_insert = 'insert into cursos values (?,?,?)'

In [12]:
#Dados 

recset = [(1000, 'Ciência de dados ', 'Data Science'),
          (1001, 'Big Data Fundamentos ', 'Big Data'),
          (1002, 'Python Fundamentos', 'Analise de dados ')]

In [13]:
#Inserindo os registros 
for rec in recset:
    cur.execute(sql_insert, rec)

In [14]:
con.commit()

In [15]:
#Criando outra setença SQL para selecionar registros 

sql_select = 'select * from cursos'

In [16]:
cur.execute(sql_select)

In [17]:
#Recuperar os resultados 

dados = cur.fetchall()

In [19]:
#Mostra 

for linha in dados:
    print('Cusro ID: %d, Titulo: %s, Categoria: %s \n  '% linha)

Cusro ID: 1000, Titulo: Ciência de dados , Categoria: Data Science

Cusro ID: 1001, Titulo: Big Data Fundamentos , Categoria: Big Data

Cusro ID: 1002, Titulo: Python Fundamentos, Categoria: Analise de dados

In [20]:
#Gerando outros registros 

recset = [(1003,'Gestão de Dados com Mongodb', 'Big Data'),
         (1004, 'R Fundamentos', 'Analises de Dados')]

In [21]:
#Inserindo os registros 
for rec in recset:
    cur.execute(sql_insert, rec)

In [22]:
con.commit()

In [23]:
cur.execute(sql_select)

In [24]:
info = cur.fetchall()

In [25]:
info

[(1000, 'Ciência de dados ', 'Data Science'),
 (1001, 'Big Data Fundamentos ', 'Big Data'),
 (1002, 'Python Fundamentos', 'Analise de dados '),
 (1003, 'Gestão de Dados com Mongodb', 'Big Data'),
 (1004, 'R Fundamentos', 'Analises de Dados')]

In [26]:
for line in info:
    print('ID:  %d, Titulo: %s, Categoria: %s \n'%line)

ID:  1000, Titulo: Ciência de dados , Categoria: Data Science

ID:  1001, Titulo: Big Data Fundamentos , Categoria: Big Data

ID:  1002, Titulo: Python Fundamentos, Categoria: Analise de dados

ID:  1003, Titulo: Gestão de Dados com Mongodb, Categoria: Big Data

ID:  1004, Titulo: R Fundamentos, Categoria: Analises de Dados

In [28]:
con.close()