In [1]:
import datetime
import sqlite3
import time
import random

connected =  sqlite3.Connection('dbgtp.db')
cr = connected.cursor()

def create_table_new():
    cr.execute('CREATE TABLE IF NOT EXISTS product (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
    'prod_name TEXT, valor REAL)')
   
def data_insert():
    cr.execute("INSERT INTO product VALUES (10,'2016-05--02 14:32:11', 'Teclado', 90)")
    connected.commit()
    cr.close()
    connected.close()

def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    cr.execute("INSERT INTO product (date, prod_name, valor) VALUES (?, ?, ?)",( new_date, new_prod_name, new_valor))
    connected.commit()
    
create_table_new()
data_insert_var()

for i in range(10):
    data_insert_var()
    time.sleep(1)

def leitura_todos_dados():
    cr.execute("SELECT * FROM PRODUCT")
    for linha in cr.fetchall():
        print(linha)

def leitura_registros():
    cr.execute("SELECT * FROM product WHERE valor > 60.0")
    for linha in cr.fetchall():
        print(linha)

def leira_colunas():
    cr.execute("SELECT * FROM  product")
    for linha in cr.fetchall():
        print(linha[3])

leitura_todos_dados()

(1, '2017-01-20 10:22:39.787302', 'Monitor', 61.0)
(2, '2017-01-20 10:23:04.501818', 'Monitor', 88.0)
(3, '2017-01-20 10:23:05.708665', 'Monitor', 60.0)
(4, '2017-01-20 10:23:06.841380', 'Monitor', 77.0)
(5, '2017-01-20 10:23:08.011750', 'Monitor', 97.0)
(6, '2017-01-20 10:23:09.138224', 'Monitor', 56.0)
(7, '2017-01-20 10:23:10.337375', 'Monitor', 73.0)
(8, '2017-01-20 10:23:11.542570', 'Monitor', 86.0)
(9, '2017-01-20 10:23:12.728856', 'Monitor', 50.0)
(10, '2017-01-20 10:23:13.868521', 'Monitor', 86.0)
(11, '2017-01-20 10:23:15.046730', 'Monitor', 55.0)
(12, '2017-01-20 10:37:59.671149', 'Monitor', 89.0)
(13, '2017-01-20 10:37:59.922526', 'Monitor', 58.0)
(14, '2017-01-20 10:38:01.042444', 'Monitor', 59.0)
(15, '2017-01-20 10:38:02.215701', 'Monitor', 51.0)
(16, '2017-01-20 10:38:03.418648', 'Monitor', 79.0)
(17, '2017-01-20 10:38:04.556144', 'Monitor', 95.0)
(18, '2017-01-20 10:38:05.713409', 'Monitor', 72.0)
(19, '2017-01-20 10:38:06.808600', 'Monitor', 93.0)
(20, '2017-01-20 10:38:07.908015', 'Monitor', 63.0)
(21, '2017-01-20 10:38:09.002655', 'Monitor', 54.0)
(22, '2017-01-20 10:38:10.183856', 'Monitor', 97.0)

In [3]:
leitura_registros()

(1, '2017-01-20 10:22:39.787302', 'Monitor', 61.0)
(2, '2017-01-20 10:23:04.501818', 'Monitor', 88.0)
(4, '2017-01-20 10:23:06.841380', 'Monitor', 77.0)
(5, '2017-01-20 10:23:08.011750', 'Monitor', 97.0)
(7, '2017-01-20 10:23:10.337375', 'Monitor', 73.0)
(8, '2017-01-20 10:23:11.542570', 'Monitor', 86.0)
(10, '2017-01-20 10:23:13.868521', 'Monitor', 86.0)
(12, '2017-01-20 10:37:59.671149', 'Monitor', 89.0)
(16, '2017-01-20 10:38:03.418648', 'Monitor', 79.0)
(17, '2017-01-20 10:38:04.556144', 'Monitor', 95.0)
(18, '2017-01-20 10:38:05.713409', 'Monitor', 72.0)
(19, '2017-01-20 10:38:06.808600', 'Monitor', 93.0)
(20, '2017-01-20 10:38:07.908015', 'Monitor', 63.0)
(22, '2017-01-20 10:38:10.183856', 'Monitor', 97.0)

In [4]:
leira_colunas()

61.0
88.0
60.0
77.0
97.0
56.0
73.0
86.0
50.0
86.0
55.0
89.0
58.0
59.0
51.0
79.0
95.0
72.0
93.0
63.0
54.0
97.0