In [16]:
# exercicio 1
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
# Exercicio 2  
lst = [1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [17]:
# Exercicio 3
str1 =  'Leonardo '
str2 =  'Guimarães '
str3 = str1 + str2
print(str3)

Leonardo Guimarães

In [18]:
# Exercicio 4
tp = (1, 2, 2, 3, 4, 4, 4, 5)
tp.count(4)

3

In [19]:
# Exercicio 5

dict = {"key1":"Ola", "key2":10, "key3":{"key4":"fui"}}
dict

{'key1': 'Ola', 'key2': 10, 'key3': {'key4': 'fui'}}

In [27]:
# Exercicio 6
dict1 = {"key":10}

dict.update(dict1)
dict

{'key': 10, 'key1': 'Ola', 'key2': 10, 'key3': {'key4': 'fui'}}

In [40]:
# Exercicio 7
arq = open('nome.txt', 'w')
arq.write("Jose, Carlos, Joao, Juca, Jo")
arq.close()

In [41]:
# Exercicio 8
arq1 =  open('nome.txt', 'r')
arq1.seek(0)
arq1.read()

'Jose, Carlos, Joao, Juca, Jo'

In [42]:
# Exercicio 9
disct = {}

disct

{}

In [45]:
# Exercicio 10
import pandas as pd
file_name = "http://www.ats.ucla.edu/stat/data/binary.csv"
df = pd.read_csv(file_name)
df.tail()

     admit  gre   gpa  rank
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3