## Tuplas
### Tuplas são lista imutaveis que possuem um número menor de métodos

In [2]:
# criando uma tupla
tupla1 =  ("matematica", 22, 'gatos')

In [3]:
tupla1

('matematica', 22, 'gatos')

In [5]:
tupla1.count(22)

1

In [7]:
tupla1.index(22)

1

In [8]:
tupla1[0]

'matematica'

In [10]:
len(tupla1)

3

In [11]:
tupla1[1:]

(22, 'gatos')

In [12]:
del tupla1

In [13]:
t2 = ('A','B', 'C')

In [14]:
t2[0]

'A'

In [15]:
# convertendo a tupla para uma lista 
lista_2 =  list(t2)

In [16]:
lista_2

['A', 'B', 'C']

In [17]:
lista_2.append(3)

In [18]:
lista_2

['A', 'B', 'C', 3]

In [19]:
#convertendo uma lista para uma tupla
t2 = tuple(lista_2)

In [20]:
t2

('A', 'B', 'C', 3)